main {
  padding-top: 50px;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  pointer-events: none;
  background-color: #ffffff;
}

.navbar {
  /*max-width: 800px;*/
  margin: auto;
}

.navbar {
  background-color: #1e3e59!important;
  opacity: initial;
}

#one-line-intro {
  margin-bottom: 30px;
  font-family: 'Catamaran';
}

#Name {
  font-family: 'Zilla Slab';
  margin-bottom: 50px;
}

p {
  font-family: 'jost';
  font-size: large;
  font-weight: 400;
  padding-top: 20;
  pointer-events: none;
  color: #373a3c;
}

#introduction {
  max-width: 600px;
  margin-bottom: 50px;
  pointer-events: none;
}

.nav-link {
  font-family: 'Catamaran';
  font-weight: 100;
}

.btn.border.rounded-0.border-dark {
  margin-right: 30PX;
  /*font-size: 12px;*/
  font-family: 'Catamaran';
}

.project-grid {
  height: 300px;
  margin-bottom: 30px;
  padding: 40px;
}

.library_row {
  border-top: 1px solid;
}

.list-inline-item:not(:last-child)::after {
  content: " |";
  padding-left: 5px;
}

a, a.active {
  color: inherit;
  background-color: inherit;
}

a:hover {
  color: #4da1a9;
}

#footer {
  font-family: 'Zilla Slab';
  font-size: initial;
  margin: auto;
}

#ziwang {
  width: 240px;
}

#footer-container {
  height: 80px;
  width: 100%;
  bottom: 0;
}

.shadow {
  /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/
}

#main {
  padding-top: 200px;
}

#portfolio {
  max-width: 1000px;
}

#particles-js {
  height: 100%;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.library_book_pic {
  height: 150px;
  display: inline-block;
  margin: auto;
  margin-bottom: 10px;
}

.book_name {
  font-family: 'Montserrat';
  font-weight: 800;
}

.blog_month {
  margin: auto;
  font-family: 'Montserrat';
}

.author_name {
  font-family: 'Lora';
  font-size: 12px;
}

.current_read {
  font-family: 'Montserrat';
  margin-top: auto;
  margin-bottom: auto;
}

.book_list {
  padding-top: 20px;
}

.library_intro {
  font-family: 'Montserrat';
}

.fa.fa-angle-left {
  font-size: 40px;
}

#activists-cover {
  background-image: url("../../assets/img/activists.jpeg");
  background-size: cover;
}

.p {
  pointer-events: none;
}

.list-inline {
  font-family: 'Catamaran';
}

.d-lg-flex.subtitle {
  font-family: 'Zilla Slab';
  font-size: 14px;
  font-weight: bolder;
}

.challenge {
  font-size: 36px;
  font-style: italic;
  letter-spacing: 1px;
  padding-left: 60px;
  padding-right: 60px;
}

.project-description {
  font-size: medium;
}

.display-4.page-title {
  font-size: xx-large;
  font-family: 'Zilla Slab';
  border-bottom: solid;
  border-width: thick;
  padding-bottom: 20px;
  border-color: #4b4c4d;
  margin-bottom: 40px;
}

.d-lg-flex.one-line-intro {
  margin-bottom: 30px;
}

#support-system {
  width: 100%;
}

.integrated-arrow {
  font-size: 36px;
}

.center-floating {
  margin: auto;
  font-family: 'Zilla Slab';
}

.diagram-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-right {
}

#managing-diabetes {
  background-image: url("../../assets/img/600%20Mockup.png");
}

#overmorrow-cover {
  background-image: url("../../assets/img/Mockup%20OverMorrow.jpg");
  background-size: cover;
}

#calendar-cover {
  background-image: url("../../assets/img/school%20calendar.jpeg");
  background-size: cover;
}

a, button {
  pointer-events: all;
}

.container.about {
}

.self_introduction {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  background-color: #f2f2f2;
}

@media (min-width: 992px) {
  .about {
    position: fixed;
    height: 100%;
    width: 61.57%;
    border-right: 1pt solid;
  }
}

.projects {
  width: 100%;
  /*border-bottom: 5pt solid #f2f2f2;*/
  /*border-left: 5pt solid #f2f2f2;*/
  margin-left: auto;
}

#personal-statement {
  padding: 10px;
}

.m-5 {
  margin: 0rem !important;
}

.container.interest-areas {
  padding: 50px;
}

@media (max-width: 768px) {
  #selfie_photo {
    display: none;
  }
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.side_navigation {
  background-color: #4da1a9;
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  border-right: 1pt solid #373a3c;
}

.logo {
  width: 160px;
  margin-left: 20px;
  margin-top: 20px;
  position: fixed;
}

@media (max-width: 1350px) {
  main {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 992px) {
  .featured_projects {
    width: 38.5%;
    float: right;
  }
}

.project_row:not(:last-child) {
  border-bottom: 1px solid #373a3c;
}

project-title {
  text-align: center;
}

.project-title {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.d-lg-flex.project-overview {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f2f2f2;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #f2f2f2;
  background-color: #4992bf;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col {
  padding-right: 0px;
  padding-left: 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 0px;
  padding-left: 0px;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-right: 0;
  padding-left: 0;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus .nav-link.active:hover {
  background-color: #4da1a9;
  color: #f2f2f2;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #f2f2f2;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active:hover {
  color: #f2f2f2;
}

.navbar-light .navbar-nav .nav-link {
  color: #f2f2f2;
}

.dummy-row:hover {
  background-color: #f2f2f2;
}

.project-section-title {
  font-size: 14px;
  font-family: 'Zilla Slab';
  font-weight: 800;
  color: #4da1a9;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 10px;
}

.project-section-title:before {
  content: "⇨ ";
}

.footer:after {
  content: "❤️";
}

.header-footer {
  font-size: 14px;
  height: 100vh;
  vertical-align: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.header_name {
  margin-left: 100px;
}

.footer {
  font-size: 14px;
  color: #f2f2f2;
}

.about-photo:hover {
  opacity: 0%;
}

.featured-project {
  padding: 15px;
}

@media (max-width: 991px) {
  .featured_projects {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #profile1 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .self_introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.resume-link {
  width: 100px;
  height: 36px;
  font-size: 14px;
  font-family: 'Jost';
  margin: 0px;
  margin-right: 50px;
  background-color: #4da1a9;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 3px;
  border-color: #373a3c;
}

@media (max-width: 530px) {
  .resume-link {
    margin-right: 200px;
  }
}

.hover_color:hover {
  /*background-color: #4da1a9;*/
}

.project-content {
  padding: 30px;
}

.dummy-row {
  background-color: #f2f2f2;
  border-bottom: 1pt solid #373a3c;
}

.mini-navi {
  font-family: 'Jost';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

@media (min-width: 768px) {
  .navbar-expand-xl .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (min-width: 768px) {
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-expand-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.col.horiz-nav:hover {
  background-color: #f2f2f2;
}

.horiz-nav {
  color: #f2f2f2;
  padding: 10px;
  border-bottom: 1pt solid #373a3c;
  z-index: 999;
}

.horiz-nav:not(:last-child) {
  border-right: 1pt solid #373a3c;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: #4da1a9;
}

.mini-navi:hover {
  color: #373a3c;
  text-decoration: none;
}

@media (max-width: 992px) {
  .side_navigation {
    display: none;
  }
}

@media (min-width: 993px) {
  .content {
    margin-left: 200px;
  }
}

@media (max-width: 991px) {
  .cover-column {
    border-bottom: 1pt solid #373a3c;
  }
}

@media (min-width: 992px) {
  .cover-column {
    border-right: 1pt solid #373a3c;
  }
}

@media (min-width: 769px) {
  .project_title {
    border-right: 1px solid #373a3c;
  }
}

@media (max-width: 991px) {
  .project_title {
    border-bottom: 1px solid #373a3c;
  }
}

@media (min-width: 993px) {
  .fullpage-hide {
    display: none;
  }
}

h1, h2, h3, h5, h6 {
  margin-bottom: 0;
  color: #373a3c;
}

h5 {
  font-weight: 900;
}

h2, h3, h5, h6 {
  font-family: 'Jost';
}

h2 {
  font-weight: 900;
}

.row-content {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  #miro-synthesis {
    /*width: 676px;*/
    height: 500px;
  }
}

#miro-synthesis {
  width: 100%;
  /*height: 400px;*/
}

h4, .h4 {
  font-family: 'Zilla Slab';
  color: #4da1a9;
  font-size: initial;
  margin-bottom: 0;
}

h3, .h3 {
  font-size: 1.640625rem;
  color: #f2f2f2;
  font-family: 'Jost';
}

.quote:before {
  content: "🗣 ";
}

.quote {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}

.sl-icon {
  width: 50px;
}

.framework_theme {
  color: black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  margin-left: 50px;
  margin-right: 50px;
}

.research_questions:before {
  content: "❔ ";
}

.about_title {
  height: 200px;
}

#overmorrow_landing {
  text-align: center;
}

#overmorrow_landing iframe {
  width: 100%;
  height: 600px;
}

@media (min-width: 1600px) {
  #overmorrow_landing iframe {
    width: 1400px;
    height: 790px;
  }
}

#overmorrow_small_video iframe {
  width: 100%;
  height: 400px;
}

@media (max-width: 1000px) {
  #no-show {
    display: none;
  }
}

#snowboard iframe {
}

#snowboardv {
  text-align: center;
}

#snowboardv iframe {
  width: 100%;
  height: 400px;
}

@media (min-width: 992px) {
  #snowboardv iframe {
    width: 900px;
    height: 500px;
  }
}

h1 {
  font-family: 'Zilla Slab';
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.home-section {
  border-top: 1pt solid #373a3c;
  border-bottom: 1pt solid #373a3c;
}

.about {
  z-index: 1;
}

.fullpage-hide {
  background-color: #4da1a9;
}

.icon-color:hover {
  color: #4da1a9;
}

