#box-1 {
  height: 100vh;
  width: 57%;
  background-image: url(../../assets/img/i1.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/profile_backup.jpg);
  background-position: right;
  background-size: contain;
  /*display: flex;*/
  background-attachment: fixed;
  /*align-items: end;*/
  /*margin-left: auto;*/
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/back_alt.jpg);
  background-position: right;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#diabetes-cover-photo {
  height: 100vh;
  width: calc(100% - 100px);
  background-image: url(../../assets/img/Mockup.png);
  background-position: right;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

h1 {
  /*font-family: arial black;*/
  font-size: 50px;
  color: white;
  margin: 0px;
  /*text-align: center;*/
  display: table-cell;
  vertical-align: middle;
}

